# Eclipse project meta data
/.settings/
/.buildpath
.buildpath
/.project
/.dbeaver-data-sources.xml

/.vagrant/
/composer.lock
/vendor/

/.dbeaver-data-sources.xml
/hosts.yml

/dir/projects/*
/dir/tools/*
# Localhost
/dir/localhost/
!/dir/localhost/.htaccess
!/dir/localhost/README.txt
!/dir/localhost/info.php
