[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = https://github.com/voxpupuli/puppet-php.git
[submodule "Vagrant/puppet/modules/php"]
	path = Vagrant/puppet/modules/php
	url = https://github.com/voxpupuli/puppet-php.git
