# Eclipse project meta data
/.settings/
/.buildpath
.buildpath
/.project
/.dbeaver-data-sources.xml

/.vagrant/
/composer.lock
/vendor/
/node_modules/
/public/build/
/public/bundles/
/public/assets/
/public/assets/build/
/yarn.lock

/.dbeaver-data-sources.xml
/installed_hosts.json

/*.log
/vagrant.d/puppet/Puppetfile.lock
/vagrant.d/puppet/.librarian
/vagrant.d/puppet/.tmp
/ssh.EXE.stackdump
/.env
/changelog-linker.yml
/var/

/config/fixtures/projects.yaml
