
<div>
	<table>
		<thead>
			<tr>
				<th>Project</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for project in projects %}
			<tr>
				<td>{{ project.title }}</td>
				<td></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
<div>

<div>
	<table>
		<thead>
			<tr>
				<th>Tool</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
<div>
